# My config.
ShaX*Bot.json

# Code zip.
telebot.zip

# Image
Image/*

# Video
Video/*

# Audio
Audio/*

# File
File/*

# Python Cache
__pycache__
Contact GitHub API Training Shop Blog About

# Custom rules
resources/rule.json
