# Bot config.
*.json

# Code zip.
telebot.zip

# Image
Image/*

# Video
Video/*

# Audio
Audio/*

# File
File/*

# Python cache
__pycache__

# Emacs cache
.\#*

# Custom file
assets/rule.json
assets/redo.json
assets/echo.txt